---
import { actions } from 'astro:actions';
import Table from '@/components/shared/Table.astro';
import Pagination from '@/components/shared/Pagination.astro';
import { t } from '@/i18n';
import AdminLayout from '@/layouts/AdminLayout.astro';

const page = Number(Astro.url.searchParams.get('page') ?? 1);
const perPage = Number(Astro.url.searchParams.get('per_page') ?? 10);

const { error, data: families } = await Astro.callAction(actions.getFamilies, {
  page,
  per_page: perPage,
});

const breadcrumbs = [
  { label: t('admin.dashboard'), href: '/admin' },
  { label: t('admin.families') },
];

const columns = [
  { title: 'ID', dataIndex: 'id' },
  { title: 'Name', dataIndex: 'name' },
];

const dataSource = families?.data?.map((f) => ({ id: f.id, name: f.name })) ?? [];
---

<AdminLayout title="Dashboard" breadcrumbs={breadcrumbs}>
  {error && <p class="text-red-500">{error.message}</p>}

  <div class="text-right mb-4">
    <a href="/admin/families/create" class="btn btn-primary"> Nuevo </a>
  </div>

  <Table columns={columns} dataSource={dataSource} />

  {families && <Pagination meta={families} />}
</AdminLayout>
